/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

# Ignore non-Python files in GitHub language statistics
*.java linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.gradle linguist-vendored
*.properties linguist-vendored
*.xml linguist-vendored
